/* Global styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #F7FAFC;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 600px;
}

header {
    text-align: center;
}

header h1 {
    color: #022E8E;
    font-size: 2rem;
}

header p {
    color: #555;
    font-size: 1.1rem;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

input[readonly] {
    background-color: #f1f1f1;
}

button {
    background-color: #38A169;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #2e7d4e;
}

.result {
    display: none;
    margin-top: 20px;
}

.result h2 {
    color: #022E8E;
}

.result p {
    font-size: 1.1rem;
    color: #333;
}
